<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Payment</title>
</head>
<body style="font-family: Arial; background:#f4f6f9; margin:0; padding:16px; box-sizing:border-box;">

<div style="box-sizing:border-box;width:100%;max-width:600px;margin:60px auto;background:white;padding:30px;border-radius:10px;">

    <h2>Registration Fee Payment</h2>

    <p>
        To access the directory, please complete the one-time registration fee.
    </p>

    <h3>Amount: ₹1</h3>

    <br>

    <!-- Pay Button -->
    <a href="#"
       id="pay-btn"
       style="padding:12px 20px;background:green;color:white;border-radius:6px;text-decoration:none;">
       Pay Now
    </a>

    <!-- Fail Button -->
    <a href="{% url 'payment_failed' %}"
       style="padding:12px 20px;background:red;color:white;border-radius:6px;text-decoration:none;margin-left:10px;">
       Cancel / Fail
    </a>

</div>

<!-- Razorpay Script -->
<script src="https://checkout.razorpay.com/v1/checkout.js"></script>

<script>
window.onload = function () {

    var options = {
    "key": "{{ razorpay_key }}",
    "amount": "{{ amount }}",
    "currency": "INR",
    "name": "Directory App",
    "description": "Test Payment",
    "order_id": "{{ order_id }}",

    "handler": function (response) {
        window.location.href = "/payments/payment-success/?payment_id=" + response.razorpay_payment_id;
    },

    "theme": {
        "color": "#3399cc"
    }
};

    var rzp = new Razorpay(options);

    document.getElementById('pay-btn').onclick = function(e){
        e.preventDefault();
        rzp.open();
    };

};
</script>

</body>
</html>